h1 {
    text-align: center;
    color: red;
    text-shadow: 4px 4px 3px rgb(146, 31, 31);
}

.title {
    color: rgb(0, 255, 187);
}

#italic {
    color: orange;
}
.container {
    border: 5px dashed gray;
    margin: 50px 5px 25px 0px;
    padding: 30px 0px 10px 5px;
}



.box {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;
}



nav {
    background-color: aquamarine;
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 50px;
}

.circleImg
{
    border-radius: 100%;
}
img {
    box-shadow: 10px 10px 10px 10px rgb(97, 96, 96);
}


.flex {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg)};
    50% {transform: rotate(180deg)};
    100% {transform: rotate(360deg)};
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-timing-function: infinite;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple,orange, yellow );
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(.5);}

}

#box3 {
    animation: getBigger 10s 8s linear;
    border-radius: 50%;
    background: blue;
}

@keyframes changeColors {
    0% {background-color: blueviolet;}
    25% {background-color: purple;}
    50% {background-color: lightblue;}
    75% {background-color: blue;}
    100% {background-color:darkblue;}
}

#box4 {
    animation : changeColors 7s 2s forwards;
}

@keyframes moveBox {
    0% {left : 0px; top: 0px;}
    25% {left : 100px; top: 0px;}
    50% {left : 100px; top: 200px;}
    75% {left : 0px; top: 200px;}
    100% {left : 0px; top: 0px;}
}

#box5 {
    background: red;
    animation : moveBox 10s 10s;
    position: relative;
}

#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}

/*html {
    background-image: radial-gradient( blue , green, purple);
}*/

form input, textarea, button {
    display: block;
    margin: 30px;
}

.nav-wrapper {
    background: blue;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}